header{
  height: 70px;
  display: flex;
  justify-content: space-around;
align-items: center;
background-color: black;
}

header .logo{
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
}

header nav a{
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-right: 20px;
}